#cardpic {
  max-width: 350px;
  max-height: 350px;
}
#pic1,
#pic2 {
  left: 100;
  margin: 0;
  position: cover;
  top: 50%;
}
.caption {
  top: 200px;
}

.enter {
  margin-top: 35vh;
  margin-left: 45vw;
  margin-right: 45vw;
  background-color: grey;
  opacity: 0.9;
}
